mongodb+srv://bin22013_db_user:Dallin2007@cluster0.xr4qxu6.mongodb.net/?appName=Cluster0PORT=8080
SESSION_SECRET=your-random-secret-here
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
GITHUB_CALLBACK_URL=http://localhost:8080/auth/github/callback
